@media (max-width: 576px) {
    .banner {
        height: 150px;
        h1 {
            font-size: 2.6rem;
        }
    }
    .congratulations {
        h2 {
            font-size: 2.3rem;
        }
    }
    .form-spacio {
        button {
            width: 100% !important;
            span {
                font-size: 1.2rem;
            }
        }
        input {
            font-size: 1rem;
            height: 45px;
        }
        label {
            font-size: 1rem;
        }
        .upload-photo {
            p {
                float: left;
                font-size: 1rem;
            }
        }
    }
    .index {
        .texto-promo {
            font-size: 1rem;
        }
    }
    .mecanica {
        .text-mecanica {
            font-size: 1.5rem;
        }
        .card {
            padding: 25px 18px;
            .card-body {
                padding: 10px;
                h3 {
                    font-size: 1.3rem;
                }
            }
        }
    }
    .title-form {
        font-size: 1.5rem;
    }
}

@media (max-width: 365px) {
    nav {
        .logo {
            img {
                height: 23px;
            }
        }
    }
}