// Body
$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$blue: #0082C5;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #EC086D;
$red: #e3342f;
$orange: #f6993f;
$yellow: #FCB925;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$muted: #F3F5F5;
$gray: #6D6B6B;
$dark-gray: #231F20;